.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.left-section {
    display: flex;
    align-items: center;
}

.netflix-logo {
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
}

.user-picture {
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}